@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Cores */
    --cor-texto: #F1FFE7;
    --cor-fundo: #264653;
    --cor-primaria: #f4a261;
    --cor-secundaria: #e9c46a;
    --cor-terciaria: #2a9d8f;
    --cor-prioridade-alta: #f94144;
    --cor-prioridade-media: #f9c74f;
    --cor-prioridade-baixa: #43aa8b;
    /* Fontes */
    --fonte-primaria: "Poppins", sans-serif;
}

body {
    box-sizing: border-box;
    font-size: 16px;
    font-family: var(--fonte-primaria);
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
}

header {
    padding: 2rem 1rem;
}

#titulo {
    text-align: center;
    font-size: 7rem;
    font-weight: 800;
}

#titulo-fazer {
    color: var(--cor-primaria);
}

#titulo-fazendo {
    color: var(--cor-secundaria);
}

#titulo-feito{
    color: var(--cor-terciaria);
}

main {
    height: calc(80dvh - 176px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    display: flex;
    width: 80dvw;
    min-height: 600px;
    background-color: var(--cor-texto);
    color: var(--cor-fundo);
    border-radius: 16px;
}

.colunas {
    width: 33%;
    padding: 2rem;
}

.titulo-coluna {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
}

#coluna-1 {
    background-color: var(--cor-primaria);
    border-radius: 16px 0 0 16px;
}

#coluna-2 {
    background-color: var(--cor-secundaria);
}

#coluna-3 {
    background-color: var(--cor-terciaria);
    border-radius: 0 16px 16px 0;
}

#btn-adicionar-card {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    font-size: 2rem;
    background-color: var(--cor-texto);
    color: var(--cor-fundo);
    cursor: pointer;
    transition: .3s;
}

.coluna-lista {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 24px 16px;
}

.card {
    width: 80%;
    background-color: var(--cor-texto);
    padding: 16px;
    border-radius: 8px;
    font-weight: 600;
    line-height: 1.7rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    cursor: grab;
}

.fa-circle-dot {
    margin-left: -3px;
    margin-right: 8px;
}

.card-status__a-fazer {
    color: var(--cor-primaria);
}

.card-status__fazendo {
    color: var(--cor-secundaria);
}

.card-status__feito {
    color: var(--cor-terciaria);
}

.card-infos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-prioridade__alta {
    color: var(--cor-prioridade-alta);
}

.card-prioridade__media {
    color: var(--cor-prioridade-media);
}

.card-prioridade__baixa {
    color: var(--cor-prioridade-baixa);
}

.card-titulo {
    font-size: 1.1rem;
}

.card-descricao {
    font-weight: 500;
}